// COLORS

// PRIMARY
$desaturated-dark-cyan:  hsl(180, 29%, 50%);

// NEUTRAL
$clr-background: hsl(180, 52%, 96%);
$clr-filter-tablets: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

// TYPOGRAPHY

// SIZE
$fs: 0.9375rem;
$fm: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-bold: 700;